@import url('@fontsource/ubuntu');

body {
    background-color: #333;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    padding: 50px 0;
}

.selected {
    text-align: center;
    font-size: 5em;
}

.content {
    margin: 20px 0;
}

emoji-picker {
    margin: 50px auto 15px auto;
    height: 400px;
    width: 100%;
}

.code {
    text-align: center;
    padding: 50px 0;
}

.code label {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.code textarea {
    display: block;
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto 15px auto;
    font-family: 'Ubuntu Mono', monospace;
    outline: none;
    padding: 30px 40px;
    background-color: #222;
    font-size: 1.5em;
    color: #fff;
    border: none;
    resize: none;
    height: 275px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > button {
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: firebrick;
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 200ms ease-in-out background-color;
    font-family: 'Ubuntu', sans-serif;
}

.buttons > button:hover {
    background-color: tomato;
}